/* Styles Module */
.logo {
    font-family: var(--ff-mono);
    text-decoration: none;
    font-weight: 700;
    color: #1b1b1b;
    letter-spacing: -1.2px;
}

.logo:hover {
    color: rgb(var(--c-pink));
    transition: color 300ms ease;
}
