/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    /* scrollbar-gutter: stable; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Global Styles */
html {
    min-height: 100vh;
    font-family: var(--ff-sansSerif);
    font-size: calc(10px + 0.5vw);
    color: var(--c-off-black);

    --s1: 0.1em;
    --s2: 0.4em;
    --s3: 0.8em;
    --s4: 1.2em;
    --s5: 1.8em;
    --s6: 2.5em;
}

body {
    background-image: linear-gradient(
        325deg,
        hsl(261deg 100% 70%) 0%,
        hsl(267deg 99% 72%) 26%,
        hsl(273deg 99% 74%) 45%,
        hsl(278deg 99% 75%) 58%,
        hsl(284deg 99% 78%) 66%,
        hsl(291deg 93% 79%) 71%,
        hsl(301deg 81% 81%) 76%,
        hsl(310deg 92% 85%) 82%,
        hsl(317deg 99% 88%) 90%,
        hsl(324deg 100% 91%) 100%
    );
    background-repeat: no-repeat;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

#root {
    --column-width: 70ch;
    --column-padding: 1em;
    --page-padding: 10px;

    display: grid;
    grid-template-columns: 1fr min(70ch, calc(100% - var(--page-padding) * 2)) 1fr;
    position: relative;
    column-gap: var(--page-padding);
}

.column {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.column:nth-of-type(1) {
    background-color: hsl(34, 78%, 81%);
    grid-column: 1/2;
}
.column:nth-of-type(2) {
    background-color: hsl(96, 78%, 81%);
    grid-column: 2/3;
}
.column:nth-of-type(3) {
    background-color: hsl(204, 78%, 81%);
    grid-column: 3/4;
}
