/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  /* scrollbar-gutter: stable; */
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Global Styles */
html {
  --fs-small: 0.8rem;
  --fs-xsmall: 0.7rem;
  --s1: 0.1em;
  --s2: 0.4em;
  --s3: 0.8em;

  --s4: 1.2em;
  --s5: 1.8em;
  --s6: 2.5em;
  min-height: 100vh;
  color: rgb(var(--c-off-black));
  font-weight: 300;

  font-size: calc(10px + 0.4vw);
  font-family: var(--ff-sansSerif);

  --shadow-color: 203deg 41% 76%;

  --shadow-elevation-low: 0.4px 0.4px 0.8px hsl(var(--shadow-color) / 0),
    0.7px 0.7px 1.5px hsl(var(--shadow-color) / 0.21), 1.5px 1.5px 3.2px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-medium: -0.4px 0.4px 0.5px hsl(var(--shadow-color) / 0.63),
    -0.9px 1px 1.2px -1.3px hsl(var(--shadow-color) / 0.51), -2.8px 3px 3.7px -2.7px hsl(var(--shadow-color) / 0.39),
    -7.7px 8.4px 10.3px -4px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high: -0.4px 0.4px 0.5px hsl(var(--shadow-color) / 0.58),
    -1.2px 1.3px 1.6px -0.6px hsl(var(--shadow-color) / 0.53), -2.5px 2.7px 3.3px -1.1px hsl(var(--shadow-color) / 0.47),
    -4.9px 5.4px 6.6px -1.7px hsl(var(--shadow-color) / 0.42),
    -9.2px 10.1px 12.3px -2.3px hsl(var(--shadow-color) / 0.36),
    -16px 17.5px 21.3px -2.9px hsl(var(--shadow-color) / 0.31),
    -25.9px 28.4px 34.6px -3.4px hsl(var(--shadow-color) / 0.25),
    -39.8px 43.6px 53.1px -4px hsl(var(--shadow-color) / 0.2);
}

body {
  /* background-image: linear-gradient(
    125deg,
    hsl(320deg 100% 99%) 0%,
    hsl(315deg 88% 97%) 51%,
    hsl(309deg 78% 94%) 66%,
    hsl(302deg 69% 91%) 75%,
    hsl(295deg 71% 89%) 80%,
    hsl(288deg 76% 87%) 84%,
    hsl(281deg 82% 85%) 86%,
    hsl(275deg 88% 83%) 89%,
    hsl(268deg 94% 82%) 93%,
    hsl(262deg 100% 81%) 100%
  ); */

  /* background-image: linear-gradient(
    125deg,
    hsl(276deg 100% 99%) 0%,
    hsl(275deg 99% 99%) 21%,
    hsl(274deg 99% 98%) 30%,
    hsl(273deg 99% 98%) 39%,
    hsl(272deg 100% 97%) 46%,
    hsl(272deg 100% 97%) 54%,
    hsl(273deg 100% 96%) 61%,
    hsl(274deg 100% 96%) 69%,
    hsl(274deg 100% 95%) 79%,
    hsl(275deg 100% 95%) 100%
  ); */

  /* background-image: linear-gradient(
    125deg,
    hsl(276deg 100% 99%) 0%,
    hsl(271deg 86% 97%) 22%,
    hsl(266deg 86% 96%) 33%,
    hsl(262deg 87% 94%) 42%,
    hsl(257deg 90% 93%) 50%,
    hsl(252deg 92% 92%) 58%,
    hsl(247deg 95% 91%) 67%,
    hsl(242deg 98% 89%) 78%,
    hsl(237deg 100% 88%) 100%
  ); */

  /* background-color: #d9e8f2; */
  background-image: linear-gradient(
    150deg,
    hsl(204deg 49% 90%) 1%,
    hsl(204deg 49% 89%) 33%,
    hsl(204deg 49% 88%) 47%,
    hsl(204deg 50% 87%) 58%,
    hsl(204deg 50% 86%) 67%,
    hsl(204deg 50% 85%) 75%,
    hsl(204deg 50% 84%) 83%,
    hsl(204deg 50% 83%) 89%,
    hsl(204deg 50% 82%) 95%,
    hsl(204deg 51% 81%) 100%
  );

  /* --s: 50px; control the size */
  /* --_g: #0000 90deg, hsl(0, 0%, 98%) 0;
  background: conic-gradient(from 90deg at 1.25px 1.25px, var(--_g)), conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5); */

  /* background-repeat: no-repeat; */
}

h1 {
  margin-bottom: 1em;
  font-size: 3rem;
}

h2 {
  margin-bottom: 0.8em;
  font-size: 1.6rem;
}

h3 {
  margin-bottom: 0.75em;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0.7em;
  font-size: 1.4rem;
}

h5 {
  margin-bottom: 0.6em;
  font-size: 1.2rem;
}

h6 {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

#root {
  --column-padding: 1em;
  --column-width: 70ch;
  --page-padding: 10px;

  grid-template-columns: 1fr min(70ch, calc(100% - var(--page-padding) * 2)) 1fr;
  display: grid;
  position: relative;
  column-gap: var(--page-padding);
}

.column {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.column:nth-of-type(1) {
  grid-column: 1/2;
  background-color: hsl(34, 78%, 81%);
}
.column:nth-of-type(2) {
  grid-column: 2/3;
  background-color: hsl(96, 78%, 81%);
}
.column:nth-of-type(3) {
  grid-column: 3/4;
  background-color: hsl(204, 78%, 81%);
}

.text-muted {
  color: rgb(var(--c-text-muted));
}

mark {
  padding: var(--s1) var(--s2);
  border-radius: 2px;
  background-color: rgb(var(--c-deSat-yellow), 0.6);
}
/* 
kbd {
    border-radius: 3px;

    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin: 0 4px;
    user-select: none;
}

kbd::before {
    content: "";
    background-color: #aaaaaa;
    position: absolute;
    left: -1.5px;
    right: -1.6px;
    top: 0px;
    height: calc(100% + 3px);
    z-index: -1;
    border-radius: 3px;
}

kbd::after {
    content: "";
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    inset: 0;
    opacity: 1;
    z-index: -1;
}

kbd:active {
    transform: translateY(2px);
}

kbd:active::before {
    height: calc(100% + 2px);
}

kbd:active::after {
} */

code {
  font-family: var(--ff-mono);
}

kbd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  border: 1px solid hsl(0deg 0% 60%);
  border-radius: 3px;
  color: #333;
  font-weight: 700;
  line-height: 1;
  font-family: var(--ff-mono);
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 3px 0px 0px hsl(0deg 0% 45%), 0px 5px 0px 0px hsl(0deg 0% 25%);
  transition: box-shadow 0.3s cubic-bezier(0.5, 5, 0.33, 0.3), transform 0.3s cubic-bezier(0.5, 5, 0.33, 0.3);
}

kbd:active {
  box-shadow: 0px 2px 0px 0px hsl(0deg 0% 45%), 0px 3px 0px 0px hsl(0deg 0% 25%);
  transition: none;
  transform: translateY(2px);
}
