/* Styles Module */
.link
{
    position: relative;
    /* background-color: green; */
}
.arrow
{
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    aspect-ratio: 10/15;
    transform-origin: center bottom;
}

.arrow > .arrowTail
{
    /* stroke: var(--c-off-black); */
}

.arrow > .arrowHead
{
    /* fill: var(--c-off-black) */
}

/* .arrow.animate
{

} */
/* @keyframes pop { */

/* } */