/* Styles Module */
.link {
}

.link__text {
  position: relative;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: var(--c-off-black);
  text-decoration-skip-ink: all;

  background-color: green;
}

.link:visited {
  color: var(--c-off-black);
}
.arrow {
  position: absolute;
  background-color: rgba(78, 109, 180, 0.84);
  top: 0;
  right: 0;
  /* width: 7px; */
  /* aspect-ratio: auto; */
  /* opacity: 0.7; */
  /* height: 10px; */
  /* transform:translateX(50%) translateY(-90%) rotate(45deg); */
  transform: translate(calc(50% - 2.41px * 2), calc(-100% + 2.41px * 2)) rotate(45deg);
  transform-origin: center bottom;
  overflow: visible;
}

.arrow > .arrowTail {
  fill: var(--c-off-black);
}

.arrow > .arrowHead {
  fill: var(--c-off-black);
}

/* .arrow.animate
{

} */
/* @keyframes pop { */

/* } */
